ion-item {
    --background: white;
    --color: black;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --border-color: #e2e2e2;
}

ion-list {
    --background: #33ed71;
    --color: black;
    --ion-item-background: white;
}

.header-md {
    box-shadow: none;
}